{% macro perceptron() -%}
-
  type: PythonCodeQuestion
  id: perceptron_code
  access_rules:
    add_permissions:
    - change_answer
  timeout: 10
  value: 5
  prompt: |
    # Coding perceptron

  setup_code: |
    from utils.lmn import l_of_m_of_n

    D = l_of_m_of_n(2,3,5)
    X = np.ones(D.shape)
    X[:,:-1] = D[:,:-1]
    Y = [:,-1]
    names_for_user: [X,Y]
    names_from_user: [w]
    initial_code:
      import numpy as np
      import scipy.linalg as la

{%- endmacro %}
